.item{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  height: 50rem;
  border: 1px solid black;
  margin: 1rem auto;
  padding: .5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
}

.item__title{
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.item__text{
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: .5rem;
}

.item__img{
  height: 30rem;
  width: 20rem;
  border-radius: 10px;
}

.btn{
  position: absolute;
  bottom: 2px;
  left: 7.8rem;
  padding: .5rem;
  margin: 1rem 0;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid black;
}

.btn:hover{
  transform: translateY(-2px);
  box-shadow: 2px 2px 2px black;
}

.item__stock-true{
  width: 10rem;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
  color: green;
}

.item__stock-false{
  width: 10rem;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
  color: red;
}
